 body {
            font-family: 'Bodoni MT Black', sans-serif;
            margin: 20px;
            line-height: 1.6;
            background-color:#8B4513; /* Light yellow background color */
        }

        h1 {
            color: ##0000FF;
            font-family: 'Cascadia Code', sans-serif; /* Different font for headings */
        }

        p, ul, li {
            font-family: 'Audiowide ', serif; /* Different font for body */
            color: #fff;
        }

        strong {
            font-weight: bold;
        }
